<!DOCTYPE html>
<html>
<head>
<style>
.p1 {
  font-family: "Times New Roman", Times, serif;
}

.p2 {
  font-family: Arial, Helvetica, sans-serif;
}

.p3 {
  font-family: "Lucida Console", "Courier New", monospace;
}
</style>
</head>
<body>

<h1>Đinh Đức Luyện-2021050416</h1>
<p class="p1">Đinh Đức Luyện-2021050416</p>
<p class="p2">Đinh Đức Luyện-2021050416</p>
<p class="p3">Đinh Đức Luyện-2021050416</p>

</body>
</html>


