<!DOCTYPE html>
<html>
<head>
<style>
h1 {
  font-size: 60px;
}

p {
  font-size: 25px;
  line-height: 50px;
}
</style>
</head>
<body>

<h1>Đinh Đức Luyện-2021050416</h1>
<h2>TĐinh Đức Luyện-2021050416</h2>
<p>Đinh Đức Luyện-2021050416</p>
<p>TĐinh Đức Luyện-2021050416</p>

</body>
</html>


